################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj/
*.suo
*.pdb
bin/
*.TMP
*.user
.vs
packages/

/Tests/